#!/usr/bin/env python
PACKAGE = "rm_gimbal_controllers"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("mass", double_t, 0, "Bullet mass (kg)", 0.0445, 0.01, 0.1)
gen.add("radius", double_t, 0, "Bullet radius (m)", 0.02125, 0.01, 0.05)
gen.add("Cd_value", double_t, 0, "Fitting air drag coefficient", 0.4, 0.0, 1.0)
gen.add("Cd_distance", double_t, 0, "Distance of fitting air drag coefficient (m)", 12.0, 0.0, 30.0)
gen.add("Cd_slope", double_t, 0, "Fitting air drag coefficient change rate", 0.0, -10.0, 10.0)
gen.add("air_density", double_t, 0, "Air density (kg/m³)", 1.2, 0.8, 1.5)
gen.add("g", double_t, 0, "Gravity (m/s²)", 9.81, 9.0, 10.0)
gen.add("initial_vel", double_t, 0, "Initial velocity (m/s)", 14.0, 10.0, 20.0)
gen.add("rk4_simulate_step", double_t, 0, "Simulate step (s)", 0.01, 0.001, 0.05)
gen.add("newton_convergence_tol", double_t, 0, "Newton convergence tolerance", 2e-5, 1e-6, 1e-4)
gen.add("newton_pitch_epsilon", double_t, 0, "Finite difference epsilon", 1e-4, 1e-6, 1e-3)
gen.add("max_newton_step", double_t, 0, "Max Newton step", 0.04, 0.01, 0.1)
gen.add("max_newton_iterations", int_t, 0, "Max Newton iterations", 0, 1, 5)

exit(gen.generate(PACKAGE, "ballistic_solver", "BallisticSolver"))
